body {
  width: 100%;
  height:auto;
  background: #f5f5f5;
}
/* Header */
header {
  height: 720px;
  border:solid;
  border-color: blue;
  background-color: lightblue;

  
}

nav {
  border:solid;
  border-color: red;
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;

}

.rogo {
  font-size:40px;
  border:solid;
  border-color:red;
  line-height:80px;
}


.guide-left {
  display: flex;
  list-style: none;
  border:solid;
  border-color:green;
  
}

.left-menu {
  font-size: 15px;
  margin-right: 30px;
  line-height:40px;
  border:solid;
  border-color:blue;
}

.left-menu a {
  text-decoration: none;
}

/* Header right */
.right-box {
  border:solid;
  border-color:purple;
  margin-left: auto;
  margin-right:20px;

}
.guide-right {
  display:flex;
  


}

.right-menu {
  list-style: none;
  border:solid;
  border-color:green;
  line-height:40px;
  margin-right:20px;
}

.right-menu a {
  text-decoration: none;
}

.wrapper {

}
/* HeaderのCSS終了 */



.wrapper-1 {
  height: 200px;
  border:solid;
  border-color: lightblue;

}

/* informationのCSS */
.information-box {
  text-align:center;
  border:solid;
  border-color: green;
}

.information {
  border:solid;
  border-color: red;
  font-size: 44px;
  color: #754194;
}

.information-ja {
  font-size: 14px;
  border:solid;
  border-color: blue;
}
/* informationのCSS 終了 */


/* contentのCSS 終了 */
.content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 50px;
}

.content-box {
  width: 340px;
  height: 420px;
}

.content-img {
  width: 100%;
  height: 200px;
  background: url('../img/cliff-5954980_640.jpg');
  background-size: cover;
  background-position: 20% 40%;
}

.second-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.second-content-box {
  width: 340px;
  height: 420px;
}

.second-content-img {
  width: 100%;
  height: 200px;
  background: url('../img/winter-5914653_640.jpg');
  background-size: cover;
  background-position: 20% 40%;
}
/* contentのCSS 終了 */


/* 選択とお知らせのCSS */

.info-group {
  display: flex;
  justify-content: space-around;
  border:solid;
  border-color: blue;

}

select {
  border-radius: 0;
  border-color: lightblue;
  width: 140px;
  height:50px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  color:#000000;
}

.info-list-btn {
  background-color: yellow;
}

.btn-text {
    font-size: 14px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    line-height: 20px;
    padding: 14px 10px;
    background-color: yellow;

}

