// -----カラー定義-----
$white:#fff;
$mainColor:#f5f5f5;
$gray:#463f47;
$orange:#d29427;
$purple:#754194;
$gold:#ffd000;
$black: black;


// -----mixin定義-----
@mixin about-cabin {
  .aboutCabinPic1 {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/hotel-940730_1920.jpg");
  }
  .aboutCabinPic2 {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/hotel-1209021.jpg");
  }
  .aboutCabinPic3 {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/hotel-2331757_1920.jpg");
  }
  .aboutCabinPic4 {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/hotel-room-1447201_1920.jpg");
  }

  .aboutCabin__container {
    width: 100%;
    position: absolute;
    text-decoration: none;
    display: block;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    .aboutCabin__block {
      width: 100%;
      .aboutCabin__inner {
        display: inline-block;
        width: 100%;
        color: $white;
        text-align: center;
        .aboutCabin__ttl {
          font-size: 38px;
          font-weight: normal;
          line-height: 1.2;
        }
        .aboutCabin__ttlSub {
          font-size: 15px;
          font-weight: bold;
          line-height: 2.4;
          height: 80px;
        }
        .aboutCabin__item--txt {
          opacity: 0; 
          visibility: hidden;
          transition: all 0s;
          margin-top: 30px;
        }
  
        .aboutCabin__item--btn {
          opacity: 0; 
          visibility: hidden;
          transition: all 0s;
          margin-top: 30px;
          @include btn();
            .mainBtn__container {
              transition-duration:0s;
            }
          }
      }
    }
  }
  .aboutCabin__container.inview {
    top: 50%;
    transition: all 1s;
    .aboutCabin__block {

      .aboutCabin__item--txt.inview {    
        opacity: 1; 
        visibility: visible;
      }
      .aboutCabin__item--btn.inview {
        opacity: 1; 
        visibility: visible;
      }
    }
  }
}

@mixin about-cabin-response {
  .aboutCabin__container {
    top: 50%;
    .aboutCabin__block {
      width: 100%;
      .aboutCabin__inner {
        .aboutCabin__ttl {
          font-size: 30px;
        }
        .aboutCabin__item--txt {
          opacity: 1; 
          visibility: visible;
          font-size: 0.8em;
        }
        .aboutCabin__item--btn {
          opacity: 1; 
          visibility: visible;
          }
      }
    }
  }
}

@mixin lctList {
  .ll-container__block {
    .ll-container__inner {
      padding: 30px;
      color: white;
      .ll-container__item--ttl {
        padding-top: 8px;
        border-top: 3px solid #F5C646;
      }
    }
  }
}

@mixin info-item {
  width: 29%;
  display: inline-block;
  margin: 40px 20px;
  background-color: $white;
}

@mixin info {
  .info__block--cts {
    background-color: $white;
    padding: 28px 20px;
    .ttl {
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
    .date {
      color: #777777;
      font-size: 12px;
    }
    .location {
      font-style: italic;
      font-size: 12px;
      color: black;
    }
  }
}

@mixin btn() {
  .mainBtn__container {
    color: $white;
    max-width: 170px;
    min-height: 48px;
    height: auto;
    background: $orange;
    margin: 0 auto;
    line-height: 48px;
    text-align: center;
    transition-duration:0.5s;
    cursor: pointer;
    &--text {
      text-decoration: none;
      color: white;
    }
  }
  &__container:hover {
    opacity: 0.7;
  }
}

@mixin swiper-slide {
  transform: scale(0.8);
  cursor: pointer;
  > img {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

@mixin img {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
}

// -----ここからcssの記述-----

// -----リセットCSS-----
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

//-----ベースカラー-----
main {
  background-color: $mainColor;
}

//-----ヘッダーの記述-----
.header {
  display: flex;
  height: 50px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  .header-logo {
    margin: 10px;
    left: 15px;
    &__link {
      &--img {
        width: 200px;
        height: 35px;
      }
    }
  }

  .mobile-menu-icon {
    display: none;
  }
  
  .header-box {
    width: 100%;
    position: relative;
    display: flex;
    .header-nav {
      display: flex;
      text-decoration: none;
      list-style: none;
      align-items: center;
      &__item {
        margin-left: 30px;
        font-size: 14px;
        &--link {
          color: white;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .header-login {
      position: absolute;
      right: 150px;
      line-height: 50px;
      &__link {
        color: white;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }

  .header-lang {
    line-height: 50px;
    position: absolute;
    right: 50px;
    &__link {
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

//-----1100px以下はハンバーガーメニューを表示-----
@media screen and (max-width: 1100px) {
  .header {
    text-align: left;
    .header-logo {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .mobile-menu-icon {
        display: initial;
        background-color: transparent;
        border: none;
        outline: none !important;
        cursor: pointer;
        & > span {
          background-color: $white;
          width: 35px;
          height: 2px;
          display: block;
          margin-bottom: 9px;
          transition: transform 0.7s;
        }
      }
    }

    .header-box {
      display: none;
    }
    .header-lang {
      display: none;
    }
  }

//-----ハンバーガーメニューをクリック時-----
.header.menu-open {
  width: 100%;
  height: 100vh;
  background-color: $gray;
  z-index: 1000;
  display: block;
  .header-logo {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 10px;
    .mobile-menu-icon {
      display: initial;
      margin: 0 20px;
      & > span {
        background-color: $white;
        &:nth-child(1) {
          transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
          transform: translateX(-18px) scaleX(0);
        }
        &:nth-child(3) {
          transform: translateY(-11px) rotate(-135deg);
        }
      }
    }
    
  }
  .header-box {
    display: block;
    .header-nav {
      display: block;
      text-align: left;
      &__item {
        margin: initial;
        display: block;
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        line-height: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #DDD;
        position: relative;
        &--link {
          color: $white;
          margin-left: 20px;
        }
        &--link.menu-open {
          width: 90%;
          display: block;
          color: $white;
          background: $orange;
          margin: 30px auto;
          line-height: 48px;
          text-align: center;
          cursor: pointer;
          border-bottom: 0px solid #DDD;
        }
      }
      &__item.bottom {
        border-bottom: none;
        margin: 60px auto;
      }
    }
    .header-login {
      display: none;
    }
  }
  .header-lang {
    display: none;
  }
}
}

//-----画面を下にスクロールしたときのヘッダーの処理（outviewを付与し非表示にする）-----
.outview {
  display: none;
}

// -----トップ画面（ヒーロースライダー画面）-----
.topMain {
  .topMain-Block {
    overflow: hidden;
    position: relative;
    .topMain-item {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      .dark {
        background-color:rgba(10, 10, 10, 0.6);
        width: 100%;
        height: 100%;
        background-blend-mode: darken;
        opacity: 0.3;
      }
      #img01 {
        @include img();
        animation: slider01 30s infinite;
      }
      
      #img02 {
        @include img(); 
        animation: slider02 30s -20s infinite;
      }
      
      #img03 {
        @include img();
        animation: slider03 30s -10s infinite;
      }
    }
  }
}
// -----トップ画面（ヒーロースライダー画面）のレスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .topMain {
    .topMain-Block {
      .topMain-item {
        #img01 {
          width: 1200px;
        }
        #img02 {
          width: 1200px;
        }
        #img03 {
          width: 1200px;
        }
      }
    }
  }
}

// -----空室検索部分-----
.search {
  background: rgba(40, 30, 42, 0.7);
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  &__body {
    padding: 13px 0;
    .search__items {
      align-items: center;
      .search__area {
        margin-right: 10px;
        .icon-area {
          font-size: 13px;
          font-weight: bold;
          padding: 12px 15px;
          height: 46px;
          width: 300px;
        }
      }
      .search__calender {
        display: inline-block;
        .input-search {
          background-color: $white;
          width: 240px;
          height: 46px;
        }

      }
      .search__sex {
        display: inline-block;
        justify-content: center;
        margin: 0 20px;
        &--input {
          box-sizing: border-box;
          font-size: 13px;
          font-weight: bold;
        }
        .radio {
          position: relative;
          cursor: pointer;
          .icon-man-white {
            color: $white;
          }
          .icon-woman-white {
            color: $white;
          }
        }
      }
      .mainBtn {
        display: inline-block;
        color: $white;
        min-height: 48px;
        width: 170px;
        @include btn();
        .mainBtn__container {
          background: transparent;
        }
      }
    }
  }
}

// -----空室検索部分のレスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .search {
    &__body {
      .search__items {
        .search__area {
          display: none;
        }
        .search__calender {
          display: none  
        }
        .search__sex {
          display: none
        }
      }
    }
  }
}

// -----タイトル部分（information、about day one）-----
.info-ttl {
  padding: 61px 0 44px 0;
  text-align: center;
  &--main {
    line-height: 1.2;
    margin-bottom: 5px;
    font-size: 44px;
    color: $purple
  }
}

// -----タイトル部分のレスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .info-ttl {
    &--main {
      font-size: 30px;
    }
  }
}

// -----information画面-----
.info {
  width: 100%;
  &__block {
    margin: 0 130px;
    display: block;
    .info__item {
      @include info-item();
      .info-container {
        display: block;
        text-decoration: none;
        transition-duration:0.5s;
        .info__block--img1 {
          background-image: url("../images/swimming-2392283_1920.jpg");
          background-size:cover;
          height: 200px;
        }
        .info__block--img2 {
          background-image: url("../images/airport-2373727_1920.jpg");
          background-size:cover;
          height: 200px;
        }
        .info__block--img3 {
          background-image: url("../images/towel-759980_1920.jpg");
          background-size:cover;
          height: 200px;
        }
        .info__block--img4 {
          background-image: url("../images/plane-841441_1920.jpg");
          background-size:cover;
          height: 200px;
        }
        .info__block--img5 {
          background-image: url("../images/wellness-285587_1920.jpg");
          background-size:cover;
          height: 200px;
        }
        .info__block--img6 {
          background-image: url("../images/winter-5914653_640.jpg");
          background-size:cover;
          height: 200px;
        }
        @include info();
      }
      .info-container:hover {
        opacity: 0.7;
      }
    }
  }
}

// -----information画面のレスポンシブ処理-----
@media screen and (max-width: 1280px) {
  .info {
    &__block {
      margin: 0 15px;
      .info__item {
        width: 100%;
        display: block;
        margin: initial;
        .info-container {
          display: flex;
          padding: 10px;
          height: 124px;
          border-top: 1px solid #ddd;
          .info__block--img1,.info__block--img2,.info__block--img3,.info__block--img4,.info__block--img5,.info__block--img6 {
            width: 20%;
            background-size: contain;
            background-repeat: no-repeat;
            height: auto;
          }
          .info__block--cts {
            width: 80%;
            padding: initial;
            margin: 0 5px;
            .date {
              margin: 10px 0;
            }
          }
        }
      }
      .info__item-bottom {
        border-bottom: 1px solid #ddd;
      }
    }
  }
} 

// -----information下のお知らせ一覧-----
.infoSearch {
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  .InfoSearchSelect {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    .select2 {
      font-size: 13px;
      font-weight: bold;
      border: 1px solid #ddd;
      min-height: 44px;
      background-size: 14px;
      cursor: pointer;
      select {
        width: 170px;
        min-height: 48px;
        font-size: 16px;
      }
    }
  }
  .mainBtn {
    background: $white;
    margin: 0 10px;
    width: 170px;
    @include btn();
  } 
}

// -----information下のお知らせ一覧のレスポンシブ-----
@media screen and (max-width: 1100px) {
  .infoSearch {
    display: block;
    margin: 30px 0;
    .InfoSearchSelect {
      margin-bottom: 30px;
    }
    .mainBtn {
      margin: 0 auto;
    }
  }
} 

// -----compact&luxury画面-----
.compactLuxury {
  height: 100vh;
  position: relative;
  text-align: center;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .compactLuxury-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/hotel-1330850_1920.jpg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .compactLuxury__block {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    .compactLuxury__inner {
      display: inline-block;
      color: $white;
      transition: all 5s;
      // -----スター部分の記述-----
      &--star {
        font-size: 14px;
        color: $gold;
        margin: 30px auto;
        width: 130px;
        height: 42px;
        position: relative;
        .span {
          display: inline-block;
        }
        .star1a {
          transform: rotate(-45deg);
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .star2a {
          transform: rotate(-22deg);
          position: absolute;
          top: 20%;
          left: 21%;
        }
        .star3a {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        
        .star4a {
          transform: rotate(22deg);
          position: absolute;
          top: 20%;
          right: 21%;
        }
        
        .star5a {
          transform: rotate(45deg);
          position: absolute;
          bottom: 0;
          right: 0;
        }
      
        .star1b {
          transform: rotate(-45deg);
          position: absolute;
          top: 0;
          left: 0;
        }
        
        .star2b {
          transform: rotate(-22deg);
          position: absolute;
          bottom: 20%;
          left: 21%;
        }
        
        .star3b {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        
        .star4b {
          transform: rotate(22deg);
          position: absolute;
          bottom: 20%;
          right: 21%;
        }
        
        .star5b {
          transform: rotate(45deg);
          position: absolute;
          top: 0;
          right: 0;
        }

      }
      .compactLuxury__ttl {
        color: $black;
        padding-bottom: 30px;
        margin-bottom: 25px;
        cursor: default;
        .word {
          font-size: 52px;
        }
      }
      .compactLuxury__text {
        color: $black;
        font-size: 12px;
        line-height: 2.4em;
        font-weight: bold;
        cursor: default;
      }
      .compactLuxury-btn {
        opacity: 0; 
        transition: opacity 2s;
        visibility: hidden;
        .mainBtn {
          transition: all 2s;
          @include btn();
        } 
      } 

    }
  }
  
  // -----compact&luxury画面 ホバーしたときの処理-----
  .compactLuxury__block.inview {
    .compactLuxury__inner {
      .compactLuxury-btn.inview {
        opacity: 1;
        visibility: visible;
        .mainBtn {
          transition: all 2s;
          padding: 40px 15px 70px;
          @include btn();
        } 
      } 
    }
  }

}
// -----compact&luxury画面 レスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .compactLuxury {
    pointer-events: none;
    .compactLuxury__block {
      .compactLuxury__inner{
        .compactLuxury__ttl{
          padding-bottom: 0px;
          .word{
            font-size: 30px;
          }
        }
        .compactLuxury__text{
          width: 95%;
          margin: 0 auto;
        }
        .compactLuxury-btn {
          opacity: 1;
          visibility: visible;
          .mainBtn {
            margin-top: 50px;
            @include btn();
            .mainBtn {
              margin-top: 20px;
            }
          } 
        } 
      }
    }
  }
} 

// -----aboutCabin画面-----
.aboutCabin {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 615px 500px;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  .aboutCabin__item.aboutCabin-img1{
    cursor: pointer;
    position: relative;
    margin: 5px;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    overflow:hidden;
    @include about-cabin();
  }
  .aboutCabin__item:hover {
    .aboutCabinPic1 {
      background-color:rgba(10, 10, 10, 0.6);
      background-blend-mode: darken;
      transition: 1s all;
      transform:scale(1.2,1.2);
    }
  }

  .aboutCabin__item.aboutCabin-img2 {
    cursor: pointer;
    position: relative;
    margin: 5px;
    grid-row: 1 / 2;
    grid-column: 5 / 8;
    overflow:hidden;
    @include about-cabin();
  }
  .aboutCabin-img2:hover {
    .aboutCabinPic2 {
      background-color:rgba(10, 10, 10, 0.6);
      background-blend-mode: darken;
      transition: 1s all;
      transform:scale(1.2,1.2);
    }
  }

  .aboutCabin__item.aboutCabin-img3 {
    cursor: pointer;
    position: relative;
    margin: 5px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    overflow:hidden;
    @include about-cabin();
  }
  .aboutCabin-img3:hover {
    .aboutCabinPic3 {
      background-color:rgba(10, 10, 10, 0.6);
      background-blend-mode: darken;
      transition: 1s all;
      transform:scale(1.2,1.2);
    }
  }

  .aboutCabin__item.aboutCabin-img4 {
    cursor: pointer;
    position: relative;
    margin: 5px;
    grid-row: 2 / 3;
    grid-column: 3 / 8;
    overflow:hidden;
    @include about-cabin();
  }
  .aboutCabin-img4:hover {
    .aboutCabinPic4 {
      background-color:rgba(10, 10, 10, 0.6);
      background-blend-mode: darken;
      transition: 1s all;
      transform:scale(1.2,1.2);
    }
  }
}

// -----aboutCabin画面のレスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .aboutCabin {
    pointer-events: none;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-columns: 100%;
    .aboutCabin__item.aboutCabin-img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      position: relative;
      @include about-cabin-response();
    }
    .aboutCabin__item.aboutCabin-img2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      @include about-cabin-response();
    }
    .aboutCabin__item.aboutCabin-img3 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      @include about-cabin-response();
    }
    .aboutCabin__item.aboutCabin-img4 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      @include about-cabin-response();
    }
  }
}

//-----施設一覧ボタン-----
.facilityAll {
  .mainBtn {
    padding: 40px 15px 70px;
    @include btn();
  } 
}

// -----フッター画面-----
.footer {
  background: $gray;
  &__logo {
    text-align: center;
    padding: 50px 0 60px;
    &--image {
      width: 185px;
      height: 35px;
    }
  }
  &__box {
    display: flex;
    margin: 0 auto;
    padding: 0 20px 60px 20px;
    .footer__cont {
      width: 78%;
      display: flex;
      color: white;
      &--list {
        width: 33.333%;
        padding-right: 10px;
        box-sizing: border-box;
        .footer__cont--item {
          list-style: none;
          margin-bottom: 20px;
          color: #FFF;
          font-size: 13px;
          .footer__cont--link {
            border-style: none;
            text-decoration: none;
            color: #FFF;
            font-size: 13px;
          }
        }
      }
    }
    .footer-sns {
      width: 22%;
      display: block;
      &__list {
        list-style: none;
        &--word {
          color: #FFF;
          font-size: 13px;
        }
        &--item {
          display: flex;
          a {
            margin-right: 20px;
            .footer-sns--image {
              display: block;
              color: #FFF;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

// -----フッター画面のレスポンシブ処理-----
@media screen and (max-width: 1100px) {
  .footer {
    &__box {
      display: block;
      .footer__cont {
        width: 100%;
        display: block;
        text-align: center;
        &--list {
          width: 100%;
        }
      }
      .footer-sns {
        width: 100%;
        text-align: center;
        &__list {
          &--item {
            justify-content: center;
            .footer-sns--image {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}

// -----コピー禁止記述部分-----
.footer__copy {
  background: $gray;
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
  color: rgba(255, 255, 255, .3);
  box-sizing: border-box;
  border-top: solid 1px #504852;
  font-style: normal;
}

// -----keyframesの定義-----
@keyframes slider01 {
  0% {
    opacity: 1;
  }
  25% {
    transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    transform: translate(-50%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes slider02 {
  0% {
    opacity: 1;
    
  }
  25% {
    transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    transform: translateY(60%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    transform: translateX(100%) ;
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes slider03 {
  0% {
    transform: translate(0%);
    opacity: 1;
  }
  25% {
    transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    opacity: 0;
    transform: translateX(50%);
  }
  90% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
