html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

main {
  background-color: #f5f5f5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header .header-logo {
  margin: 10px;
  left: 15px;
}

.header .header-logo__link--img {
  width: 200px;
  height: 35px;
}

.header .mobile-menu-icon {
  display: none;
}

.header .header-box {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-box .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-box .header-nav__item {
  margin-left: 30px;
  font-size: 14px;
}

.header .header-box .header-nav__item--link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.header .header-box .header-login {
  position: absolute;
  right: 150px;
  line-height: 50px;
}

.header .header-box .header-login__link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.header .header-lang {
  line-height: 50px;
  position: absolute;
  right: 50px;
}

.header .header-lang__link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  .header {
    text-align: left;
  }
  .header .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header .header-logo .mobile-menu-icon {
    display: initial;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
  }
  .header .header-logo .mobile-menu-icon > span {
    background-color: #fff;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .header .header-box {
    display: none;
  }
  .header .header-lang {
    display: none;
  }
  .header.menu-open {
    width: 100%;
    height: 100vh;
    background-color: #463f47;
    z-index: 1000;
    display: block;
  }
  .header.menu-open .header-logo {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 10px;
  }
  .header.menu-open .header-logo .mobile-menu-icon {
    display: initial;
    margin: 0 20px;
  }
  .header.menu-open .header-logo .mobile-menu-icon > span {
    background-color: #fff;
  }
  .header.menu-open .header-logo .mobile-menu-icon > span:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .header.menu-open .header-logo .mobile-menu-icon > span:nth-child(2) {
    -webkit-transform: translateX(-18px) scaleX(0);
            transform: translateX(-18px) scaleX(0);
  }
  .header.menu-open .header-logo .mobile-menu-icon > span:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  .header.menu-open .header-box {
    display: block;
  }
  .header.menu-open .header-box .header-nav {
    display: block;
    text-align: left;
  }
  .header.menu-open .header-box .header-nav__item {
    margin: initial;
    display: block;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    line-height: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
    position: relative;
  }
  .header.menu-open .header-box .header-nav__item--link {
    color: #fff;
    margin-left: 20px;
  }
  .header.menu-open .header-box .header-nav__item--link.menu-open {
    width: 90%;
    display: block;
    color: #fff;
    background: #d29427;
    margin: 30px auto;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-bottom: 0px solid #DDD;
  }
  .header.menu-open .header-box .header-nav__item.bottom {
    border-bottom: none;
    margin: 60px auto;
  }
  .header.menu-open .header-box .header-login {
    display: none;
  }
  .header.menu-open .header-lang {
    display: none;
  }
}

.outview {
  display: none;
}

.topMain .topMain-Block {
  overflow: hidden;
  position: relative;
}

.topMain .topMain-Block .topMain-item {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.topMain .topMain-Block .topMain-item #img01 {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  -webkit-animation: slider01 30s infinite;
          animation: slider01 30s infinite;
}

.topMain .topMain-Block .topMain-item #img02 {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  -webkit-animation: slider02 30s -20s infinite;
          animation: slider02 30s -20s infinite;
}

.topMain .topMain-Block .topMain-item #img03 {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  -webkit-animation: slider03 30s -10s infinite;
          animation: slider03 30s -10s infinite;
}

@media screen and (max-width: 1100px) {
  .topMain .topMain-Block .topMain-item #img01 {
    width: 1200px;
  }
  .topMain .topMain-Block .topMain-item #img02 {
    width: 1200px;
  }
  .topMain .topMain-Block .topMain-item #img03 {
    width: 1200px;
  }
}

.search {
  background: rgba(40, 30, 42, 0.7);
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
}

.search__body {
  padding: 13px 0;
}

.search__body .search__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__body .search__items .search__area {
  margin-right: 10px;
}

.search__body .search__items .search__area .icon-area {
  font-size: 13px;
  font-weight: bold;
  padding: 12px 15px;
  height: 46px;
  width: 300px;
}

.search__body .search__items .search__calender {
  display: inline-block;
}

.search__body .search__items .search__calender .input-search {
  background-color: #fff;
  width: 240px;
  height: 46px;
}

.search__body .search__items .search__sex {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.search__body .search__items .search__sex--input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
}

.search__body .search__items .search__sex .radio {
  position: relative;
  cursor: pointer;
}

.search__body .search__items .search__sex .radio .icon-man-white {
  color: #fff;
}

.search__body .search__items .search__sex .radio .icon-woman-white {
  color: #fff;
}

.search__body .search__items .mainBtn {
  display: inline-block;
  color: #fff;
  min-height: 48px;
  width: 170px;
}

.search__body .search__items .mainBtn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.search__body .search__items .mainBtn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.search__body .search__items .mainBtn__container:hover {
  opacity: 0.7;
}

.search__body .search__items .mainBtn .mainBtn__container {
  background: transparent;
}

@media screen and (max-width: 1100px) {
  .search__body .search__items .search__area {
    display: none;
  }
  .search__body .search__items .search__calender {
    display: none;
  }
  .search__body .search__items .search__sex {
    display: none;
  }
}

.info-ttl {
  padding: 61px 0 44px 0;
  text-align: center;
}

.info-ttl--main {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 44px;
  color: #754194;
}

@media screen and (max-width: 1100px) {
  .info-ttl--main {
    font-size: 30px;
  }
}

.info {
  width: 100%;
}

.info__block {
  margin: 0 130px;
  display: block;
}

.info__block .info__item {
  width: 29%;
  display: inline-block;
  margin: 40px 20px;
  background-color: #fff;
}

.info__block .info__item .info-container {
  display: block;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.info__block .info__item .info-container .info__block--img1 {
  background-image: url("../images/swimming-2392283_1920.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--img2 {
  background-image: url("../images/airport-2373727_1920.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--img3 {
  background-image: url("../images/towel-759980_1920.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--img4 {
  background-image: url("../images/plane-841441_1920.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--img5 {
  background-image: url("../images/wellness-285587_1920.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--img6 {
  background-image: url("../images/winter-5914653_640.jpg");
  background-size: cover;
  height: 200px;
}

.info__block .info__item .info-container .info__block--cts {
  background-color: #fff;
  padding: 28px 20px;
}

.info__block .info__item .info-container .info__block--cts .ttl {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.info__block .info__item .info-container .info__block--cts .date {
  color: #777777;
  font-size: 12px;
}

.info__block .info__item .info-container .info__block--cts .location {
  font-style: italic;
  font-size: 12px;
  color: black;
}

.info__block .info__item .info-container:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .info__block {
    margin: 0 15px;
  }
  .info__block .info__item {
    width: 100%;
    display: block;
    margin: initial;
  }
  .info__block .info__item .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    height: 124px;
    border-top: 1px solid #ddd;
  }
  .info__block .info__item .info-container .info__block--img1, .info__block .info__item .info-container .info__block--img2, .info__block .info__item .info-container .info__block--img3, .info__block .info__item .info-container .info__block--img4, .info__block .info__item .info-container .info__block--img5, .info__block .info__item .info-container .info__block--img6 {
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
  }
  .info__block .info__item .info-container .info__block--cts {
    width: 80%;
    padding: initial;
    margin: 0 5px;
  }
  .info__block .info__item .info-container .info__block--cts .date {
    margin: 10px 0;
  }
  .info__block .info__item-bottom {
    border-bottom: 1px solid #ddd;
  }
}

.infoSearch {
  text-align: center;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoSearch .InfoSearchSelect {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.infoSearch .InfoSearchSelect .select2 {
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #ddd;
  min-height: 44px;
  background-size: 14px;
  cursor: pointer;
}

.infoSearch .InfoSearchSelect .select2 select {
  width: 170px;
  min-height: 48px;
  font-size: 16px;
}

.infoSearch .mainBtn {
  background: #fff;
  margin: 0 10px;
  width: 170px;
}

.infoSearch .mainBtn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.infoSearch .mainBtn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.infoSearch .mainBtn__container:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1100px) {
  .infoSearch {
    display: block;
    margin: 30px 0;
  }
  .infoSearch .InfoSearchSelect {
    margin-bottom: 30px;
  }
  .infoSearch .mainBtn {
    margin: 0 auto;
  }
}

.compactLuxury {
  height: 100vh;
  position: relative;
  text-align: center;
}

.compactLuxury a {
  text-decoration: none;
  cursor: pointer;
}

.compactLuxury .compactLuxury-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/hotel-1330850_1920.jpg");
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.compactLuxury .compactLuxury__block {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.compactLuxury .compactLuxury__block .compactLuxury__inner {
  display: inline-block;
  color: #fff;
  -webkit-transition: all 5s;
  transition: all 5s;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star {
  font-size: 14px;
  color: #ffd000;
  margin: 30px auto;
  width: 130px;
  height: 42px;
  position: relative;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .span {
  display: inline-block;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star1a {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star2a {
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  position: absolute;
  top: 20%;
  left: 21%;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star3a {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star4a {
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  position: absolute;
  top: 20%;
  right: 21%;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star5a {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star1b {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star2b {
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  position: absolute;
  bottom: 20%;
  left: 21%;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star3b {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star4b {
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  position: absolute;
  bottom: 20%;
  right: 21%;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner--star .star5b {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__ttl {
  color: black;
  padding-bottom: 30px;
  margin-bottom: 25px;
  cursor: default;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__ttl .word {
  font-size: 52px;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__text {
  color: black;
  font-size: 12px;
  line-height: 2.4em;
  font-weight: bold;
  cursor: default;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  visibility: hidden;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn__container:hover {
  opacity: 0.7;
}

.compactLuxury .compactLuxury__block.inview .compactLuxury__inner .compactLuxury-btn.inview {
  opacity: 1;
  visibility: visible;
}

.compactLuxury .compactLuxury__block.inview .compactLuxury__inner .compactLuxury-btn.inview .mainBtn {
  -webkit-transition: all 2s;
  transition: all 2s;
  padding: 40px 15px 70px;
}

.compactLuxury .compactLuxury__block.inview .compactLuxury__inner .compactLuxury-btn.inview .mainBtn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.compactLuxury .compactLuxury__block.inview .compactLuxury__inner .compactLuxury-btn.inview .mainBtn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.compactLuxury .compactLuxury__block.inview .compactLuxury__inner .compactLuxury-btn.inview .mainBtn__container:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1100px) {
  .compactLuxury {
    pointer-events: none;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__ttl {
    padding-bottom: 0px;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__ttl .word {
    font-size: 30px;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury__text {
    width: 95%;
    margin: 0 auto;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn {
    opacity: 1;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn {
    margin-top: 50px;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn .mainBtn__container {
    color: #fff;
    max-width: 170px;
    min-height: 48px;
    height: auto;
    background: #d29427;
    margin: 0 auto;
    line-height: 48px;
    text-align: center;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    cursor: pointer;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn .mainBtn__container--text {
    text-decoration: none;
    color: white;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn__container:hover {
    opacity: 0.7;
  }
  .compactLuxury .compactLuxury__block .compactLuxury__inner .compactLuxury-btn .mainBtn .mainBtn {
    margin-top: 20px;
  }
}

.aboutCabin {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 615px 500px;
      grid-template-rows: 615px 500px;
  -ms-grid-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
      grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 {
  cursor: pointer;
  position: relative;
  margin: 5px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  overflow: hidden;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabinPic1 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-940730_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabinPic2 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-1209021.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabinPic3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-2331757_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabinPic4 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-room-1447201_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container {
  width: 100%;
  position: absolute;
  text-decoration: none;
  display: block;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block {
  width: 100%;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttlSub {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.4;
  height: 80px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn__container:hover {
  opacity: 0.7;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container.inview {
  top: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--txt.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--btn.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin__item:hover .aboutCabinPic1 {
  background-color: rgba(10, 10, 10, 0.6);
  background-blend-mode: darken;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 {
  cursor: pointer;
  position: relative;
  margin: 5px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  overflow: hidden;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabinPic1 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-940730_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabinPic2 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-1209021.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabinPic3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-2331757_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabinPic4 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-room-1447201_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container {
  width: 100%;
  position: absolute;
  text-decoration: none;
  display: block;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block {
  width: 100%;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttlSub {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.4;
  height: 80px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn__container:hover {
  opacity: 0.7;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container.inview {
  top: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--txt.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--btn.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin-img2:hover .aboutCabinPic2 {
  background-color: rgba(10, 10, 10, 0.6);
  background-blend-mode: darken;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 {
  cursor: pointer;
  position: relative;
  margin: 5px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  overflow: hidden;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabinPic1 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-940730_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabinPic2 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-1209021.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabinPic3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-2331757_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabinPic4 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-room-1447201_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container {
  width: 100%;
  position: absolute;
  text-decoration: none;
  display: block;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block {
  width: 100%;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttlSub {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.4;
  height: 80px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn__container:hover {
  opacity: 0.7;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container.inview {
  top: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--txt.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--btn.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin-img3:hover .aboutCabinPic3 {
  background-color: rgba(10, 10, 10, 0.6);
  background-blend-mode: darken;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 {
  cursor: pointer;
  position: relative;
  margin: 5px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  overflow: hidden;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabinPic1 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-940730_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabinPic2 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-1209021.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabinPic3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-2331757_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabinPic4 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../images/hotel-room-1447201_1920.jpg");
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container {
  width: 100%;
  position: absolute;
  text-decoration: none;
  display: block;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block {
  width: 100%;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttlSub {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.4;
  height: 80px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-top: 30px;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn__container:hover {
  opacity: 0.7;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn .mainBtn__container {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container.inview {
  top: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--txt.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container.inview .aboutCabin__block .aboutCabin__item--btn.inview {
  opacity: 1;
  visibility: visible;
}

.aboutCabin .aboutCabin-img4:hover .aboutCabinPic4 {
  background-color: rgba(10, 10, 10, 0.6);
  background-blend-mode: darken;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 1100px) {
  .aboutCabin {
    pointer-events: none;
    -ms-grid-rows: 400px 400px 400px 400px;
        grid-template-rows: 400px 400px 400px 400px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    position: relative;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container {
    top: 50%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block {
    width: 100%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
    font-size: 30px;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
    opacity: 1;
    visibility: visible;
    font-size: 0.8em;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img1 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
    opacity: 1;
    visibility: visible;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container {
    top: 50%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block {
    width: 100%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
    font-size: 30px;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
    opacity: 1;
    visibility: visible;
    font-size: 0.8em;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img2 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
    opacity: 1;
    visibility: visible;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container {
    top: 50%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block {
    width: 100%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
    font-size: 30px;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
    opacity: 1;
    visibility: visible;
    font-size: 0.8em;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img3 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
    opacity: 1;
    visibility: visible;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container {
    top: 50%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block {
    width: 100%;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__ttl {
    font-size: 30px;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--txt {
    opacity: 1;
    visibility: visible;
    font-size: 0.8em;
  }
  .aboutCabin .aboutCabin__item.aboutCabin-img4 .aboutCabin__container .aboutCabin__block .aboutCabin__inner .aboutCabin__item--btn {
    opacity: 1;
    visibility: visible;
  }
}

.facilityAll .mainBtn {
  padding: 40px 15px 70px;
}

.facilityAll .mainBtn .mainBtn__container {
  color: #fff;
  max-width: 170px;
  min-height: 48px;
  height: auto;
  background: #d29427;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.facilityAll .mainBtn .mainBtn__container--text {
  text-decoration: none;
  color: white;
}

.facilityAll .mainBtn__container:hover {
  opacity: 0.7;
}

.footer {
  background: #463f47;
}

.footer__logo {
  text-align: center;
  padding: 50px 0 60px;
}

.footer__logo--image {
  width: 185px;
  height: 35px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 20px 60px 20px;
}

.footer__box .footer__cont {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.footer__box .footer__cont--list {
  width: 33.333%;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__box .footer__cont--list .footer__cont--item {
  list-style: none;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 13px;
}

.footer__box .footer__cont--list .footer__cont--item .footer__cont--link {
  border-style: none;
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
}

.footer__box .footer-sns {
  width: 22%;
  display: block;
}

.footer__box .footer-sns__list {
  list-style: none;
}

.footer__box .footer-sns__list--word {
  color: #FFF;
  font-size: 13px;
}

.footer__box .footer-sns__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box .footer-sns__list--item a {
  margin-right: 20px;
}

.footer__box .footer-sns__list--item a .footer-sns--image {
  display: block;
  color: #FFF;
  margin-right: 20px;
}

@media screen and (max-width: 1100px) {
  .footer__box {
    display: block;
  }
  .footer__box .footer__cont {
    width: 100%;
    display: block;
    text-align: center;
  }
  .footer__box .footer__cont--list {
    width: 100%;
  }
  .footer__box .footer-sns {
    width: 100%;
    text-align: center;
  }
  .footer__box .footer-sns__list--item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__box .footer-sns__list--item .footer-sns--image {
    margin: 0 10px;
  }
}

.footer__copy {
  background: #463f47;
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: solid 1px #504852;
  font-style: normal;
}

@-webkit-keyframes slider01 {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes slider01 {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes slider02 {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes slider02 {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes slider03 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  90% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    opacity: 1;
  }
}

@keyframes slider03 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(0%) scale(1.2);
            transform: translate(0%) scale(1.2);
    opacity: 1;
  }
  35% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  90% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=app.css.map */